@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
    --black: #171718;
    --black-border: #26292d;
    --white: #fff;
    --purple: #5c62ec;
    --blackpure: #000;
    --page-bg: #252526;
    --item-bg: #242428;
    --light-gradient: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
    --text-color: var(--black);
    --primary-text: var(--header-text);
   
    /* Light mode */
    --page-bg: var(--white);
    --text-color: var(--black);
    --gradient: var(var(--light-gradient));
    --item-bg: var(--white);
    --title-1: var(--accent);
    --primary-text: var(--title-1);
    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, .25);
    --title-color: var(--black);
}
.dark{
    --page-bg: #252526;
    --item-bg: #222428;
    --text-color: var(--white);
    --secondary-text: var(--text-color);
    --gradient: linear-gradient(-90deg, #000000 0%, #6c7072 50%, #000000 100%);
    --title-1: var(--white);
    --primary-text: var(--title-1);
    --title-color: var(--black);

    --project-card-bg:var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, .8);
}

html,
body {
    min-height: 100vh;

    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;

    /* collor mode */
    background-color: var(--page-bg);
    color: var(--text-color);
}

#root{
    min-height: 100vh;
}
.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* General */
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.none {
    display: none !important;
}

.section {
    padding: 70px 0;
}

.title-1 {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
}


/* Contacts */
.content-list {
    margin: 0 auto;
    min-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40px;
}

.content-list a {
    color: var(--accent);
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p+p {
    margin-top: 0.5em;
}

@media (max-width:620px) {
    /* naw */
    .naw-row {
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
    }

    /* Header */

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }
/* Section */
    .section {
        padding: 40px 0;
    }

    .title-1 {
        margin-bottom: 20px;
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .project_title {
        font-size: 20px;
    }

    .footer {
        padding: 40px 0 30px;
    }

    .footer_wraper {
        row-gap: 20px;
    }

    .social {
        column-gap: 20px;
    }

    .social_item {
        width: 28px;
    }

    .project-details__desc {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .content-list {
        min-width: 300px;
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

}