.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    /* opacity: 0; */
    overflow: hidden;
    overflow-y: auto;
    transition: opacity .3s;
    z-index: 99;
}

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.modal-content {
    position: relative;
    margin: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    padding: 40px 20px 20px 20px;
    transform: translateY(-50px);
    transition: opacity .3s, transform .3s;

    background-color: var(--page-bg);
    background-image: url('./../../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;

    color: var(--project-card-text);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    /* Обмежуємо поля вводу в межах модалки */
    overflow: hidden;  /* Забороняємо вихід за межі */
}

.modal-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
}


/* modal open */
.modal--entering,
.modal--entered {
    opacity: 1;
}

.modal--entering .modal-content,
.modal--entered .modal-content {
    transform: translateY(0);
}

/* modal close */
.modal--exiting,
.modal--exited {
    opacity: 0;
}

.modal--exiting .modal-content,
.modal--exited .modal-content {
    transform: translateY(-50px);
}