/* footer */
.footer {
    margin-top: auto;
    padding: 60px 0 50px;
    background-color: var(--dark-bg);
    color: var(--header-text);
}

.footer_wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 27px;
    align-items: center;
}

.copiright {
    font-size: 14px;
}

.copiright p+p {
    margin-top: 0.5em;
}
